<!--
Author: Denta Zamzam Yasin Muhajir
Create Date : Surakarta, 19 June 2018
-->
<!DOCTYPE html>
<html>
<head>
<title>Cari Jam Tangan</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Jam Tangan, Cari Jam Tangan, Cari Jam Branded, Cari Jam Tangan Murah, 
Cari Jam Tangan Branded Murah" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{{ BASE_URL }}/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ BASE_URL }}/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ BASE_URL }}/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ BASE_URL }}/css/nprogress.css" rel="stylesheet" type="text/css" media="all" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">
<!-- js -->
<script src="{{ BASE_URL }}/js/jquery.min.js"></script>
<script src="{{ BASE_URL }}/js/nprogress.js"></script>
<!-- //js -->
<!-- cart -->
<script src="{{ BASE_URL }}/js/simpleCart.min.js"></script>
<script type="text/javascript" src="js/noty/packaged/jquery.noty.packaged.min.js"></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src="{{ BASE_URL }}/js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling -->
</head>
	
<body>


<!-- header -->	

{% include "template_womensfashion.snippets.modal-signin-register" %}

{% include "template_womensfashion.blocks.header" %}

{% include "template_womensfashion.blocks.nav" %}

<!-- //header -->

<!-- banner -->
	<!-- <div class="banner2" id="home1">
		<div class="container">
			<h2>Women sweaters<span>up to</span> Flat 40% <i>Discount</i></h2>
		</div>
	</div> -->
<!-- //banner -->

<!-- breadcrumbs --> 

{% include "template_womensfashion.snippets.breadcrumb" %}

<!-- //breadcrumbs -->


<!-- display banner -->

{# {% include "template_womensfashion.blocks.new-products" %} #}

{# {% include "template_womensfashion.blocks.display-editor-choices" %} #}

<!-- //display banner -->


<!-- dresses -->
	<div class="dresses">
		<div class="container">
			<div class="w3ls_dresses_grids">
				<div class="col-md-4 w3ls_dresses_grid_left">

					
					<!-- sidebar -->
					{# {% include "template_womensfashion.snippets.sidebar-other" %} #}

					{% include "template_womensfashion.snippets.sidebar-merch" %}

					{% include "template_womensfashion.snippets.sidebar-color" %}

					

					{% include "template_womensfashion.snippets.sidebar-banner" %}	

					<!-- //sidebar -->

				
				</div>
				<div class="col-md-8 w3ls_dresses_grid_right">


					<!-- content -->

					{% include "template_womensfashion.snippets.content-sort" %}

					{% include "template_womensfashion.blocks.content-product-random" %}

					<!-- //content -->

 
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	 
<!-- //dresses -->



<!-- top-brands -->
 

{% include "template_womensfashion.blocks.top-brands" %}

<!-- //top-brands -->


<!-- footer -->

{% include "template_womensfashion.blocks.footer" %}

<!-- //footer -->
<script>


$(document).ready(function() {
	
	function cartAnimation(x) {
    	$('#bagIcon').removeClass().addClass(x + ' animated delay-10s').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
      		$(this).removeClass();
  	  	});
 	};
	
	$('.item_add').on('click', function () {
		
		NProgress.start();				     
		var baseUrl = $(this).data('base');
		var price = $(this).data('price');
		var id  = $(this).data('id');
		var name = $(this).data('name');
		var picture = $(this).data('picture');  
		var temp;						        
		$.ajax({
			type: "GET",
			url: baseUrl + '/add/cart/'+price+'/'+id+'/'+name+'/'+picture,
			success: function( msg ) {
				if(msg!='add to cart'){
					NProgress.done();
					alert(msg);
					//window.history.pushState(null, null, baseUrl+"/home");
	            }
				else{
					$('html, body').animate({
       					scrollTop: $(".header").offset().top
 					}, 400);
					cartAnimation("lightSpeedIn");
					$(".total").load(" .total");						            
					//window.history.pushState(null, null, baseUrl+"/home");
					NProgress.done();
				}			
			}
		});  
	});

	$('.simpleCart_empty').on('click', function (e) {
		e.preventDefault();
		NProgress.start();
		var baseUrl = $('.base_url').val() ;                 
		$.ajax({
		    type : "GET",
		    url : baseUrl + '/cart/destroy/',
		    success: function() {
		        cartAnimation("zoomOutDown");
		        $(".total").load(" .total");
		        NProgress.done();
		    }
		});    
	});

	$(function () {
   	 	$(".agileinfo_new_products_grid_dresses").slice(0, 9).show();
     	$("#loadMore").on('click', function (e) {
        e.preventDefault();
        $(".agileinfo_new_products_grid_dresses:hidden").slice(0, 6).slideDown();
        if ($(".agileinfo_new_products_grid_dresses:hidden").length == 0) {
           	$("#loadMore").fadeOut('slow');
        }
     
    	});
	});

});

</script>
 
 

</body>
</html>